<template>
  <div class="ctrl-panel">
    <PauseBtn class="ctrl-btn" />
    <div class="sep">|</div>
    <HelpBtn class="ctrl-btn" />
    <div class="sep">|</div>
    <TurnDisplay class="ctrl-btn" />
    <template v-if="showDemolishAll">
      <div class="sep">|</div>
      <DemolishAllBtn class="ctrl-btn" />
    </template>
    <br />
    <GameStateButtons />
    <div style="clear: both;"></div>
  </div>
</template>

<script>

import PauseBtn from '@/components/CtrlPanel/PauseBtn';
import HelpBtn from '@/components/CtrlPanel/HelpBtn';
import DemolishAllBtn from '@/components/CtrlPanel/DemolishAllBtn';
import GameStateButtons from '@/components/CtrlPanel/GameStateButtons';
import TurnDisplay from '@/components/CtrlPanel/TurnDisplay';

export default {
  name: 'CtrlPanel',
  components: { TurnDisplay, GameStateButtons, DemolishAllBtn, PauseBtn, HelpBtn },
  data() {
    return {
      showDemolishAll: !!+process.env.show_demolish_all_button,
    };
  },
};
</script>

<style>
  .ctrl-panel .btn:hover {
    color: cornflowerblue;
  }
</style>

<style scoped>
.ctrl-btn {
  float: left;
}
.sep {
  float: left;
  margin: 0 4px;
}
.ctrl-panel {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 3px;
  margin-left: 2px;
}
</style>
