<template>
  <div>
    <div @click="demolishAll()" class="btn">Demolish all buildings</div>
  </div>
</template>

<script>

import { Game } from '@/core/objects/game';

export default {
  name: 'DemolishAllBtn',
  methods: {
    demolishAll() {
      Game.buildingProvider.demolishAll(Game.blockMap, Game.resStore, Game.exp);
    }
  }
}
</script>

<style scoped>
.btn {
  cursor: pointer;
}
</style>
