<template>
  <div class="gs-container">
    <template v-if="showSaveLoad">
      <div class="btn" @click="save()">Save</div>
      <div class="sep">|</div>
      <div class="btn" @click="load()">Load</div>
      <div class="sep">|</div>
    </template>
    <template v-if="showExportImport">
      <div class="btn" @click="showExportDialog()">Export</div>
      <div class="sep">|</div>
      <div class="btn" @click="showImportDialog()">Import</div>
      <div class="sep">|</div>
    </template>
    <div class="btn" @click="reset()">Reset game</div>
    <div v-show="exportDialogShown"
         class="export-dialog">
      <div class="export-label">
        Copy your game save from the field below (Ctrl+A, Ctrl+C):
      </div>
      <textarea ref="exportTextarea"
                maxlength="10000000"
                v-model="gameSave" />
      <div class="dialog-buttons">
        <button @click="exportDialogShown = false">Close</button>
      </div>
    </div>
    <div v-show="importDialogShown"
         class="import-dialog">
      <textarea ref="importTextarea"
                maxlength="10000000"
                placeholder="Paste your save here"
                v-model="gameSave" />
      <div class="dialog-buttons">
        <button @click="importDialogShown = false">Cancel</button>
        <button @click="importGame()">Import</button>
      </div>
    </div>
  </div>
</template>

<script>

import * as GameState from '@/core/objects/gameState';
import { Game } from '@/core/objects/game';

export default {
  name: 'GameStateButtons',
  data() {
    return {
      showSaveLoad: !!+process.env.show_save_load_buttons,
      showExportImport: !!+process.env.show_export_import_buttons,
      gameSave: '',
      exportDialogShown: false,
      importDialogShown: false,
    };
  },
  methods: {
    load() {
      GameState.loadFromLocalStorage(Game);
    },
    save() {
      GameState.saveToLocalStorage(Game);
    },
    reset() {
      if (confirm('All your progress will be lost. Are you sure?')) {
        GameState.reset(Game);
      }
    },
    showExportDialog() {
      this.gameSave = GameState.getGameSave(Game);
      this.exportDialogShown = true;
      this.$nextTick(() => {
        this.$refs.exportTextarea.focus();
        this.$refs.exportTextarea.select();
      });
    },
    showImportDialog() {
      this.gameSave = '';
      this.importDialogShown = true;
      this.$nextTick(() => {
        this.$refs.importTextarea.focus();
      });
    },
    importGame() {
      if (GameState.loadGameSave(Game, this.gameSave)) {
        this.importDialogShown = false;
      } else {
        alert('Cannot load the game ):');
      }
      this.gameSave = '';
    },
  }
}
</script>

<style scoped>
.btn {
  float: left;
  cursor: pointer;
}
.sep {
  float: left;
  margin: 0 4px;
}
.gs-container {
  float: left;
}
.export-dialog,
.import-dialog {
  position: fixed;
  top: 10px;
  left: calc(50% - 300px);
  right: calc(50% - 300px);
  height: 200px;
  background-color: black;
  z-index: 2;
  border: 1px solid;
}
.export-dialog textarea,
.import-dialog textarea {
  border: none;
  resize: none;
  font-family: inherit;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
  position: absolute;
  left: 10px;
  width: 578px;
}
.import-dialog textarea {
  top: 10px;
  height: 132px;
}
.export-dialog textarea {
  top: 40px;
  height: 102px;
}
.export-dialog .dialog-buttons,
.import-dialog .dialog-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.export-dialog .dialog-buttons button,
.import-dialog .dialog-buttons button {
  background-color: black;
  color: white;
  border: 1px solid;
  padding: 10px 20px;
  cursor: pointer;
}
.export-label {
  top: 10px;
  left: 10px;
  position: absolute;
}
</style>
