<template>
  <div>
    <div @click="showHelp()" class="btn">How to play</div>
  </div>
</template>

<script>

import { Game } from '@/core/objects/game';

export default {
  name: 'HelpBtn',
  methods: {
    showHelp() {
      Game.$emit('UI/showHelp');
    }
  }
}
</script>

<style scoped>
.btn {
  cursor: pointer;
}
</style>
