<template>
  <div>
    <div
      v-if="!paused"
      @click="paused=true"
      class="btn"
    >Pause</div>
    <div
      v-else
      @click="paused=false"
      class="btn"
    >Play</div>
  </div>
</template>

<script>

import {Game} from '@/core/objects/game';

export default {
  name: 'PauseBtn',
  created() {
    document.addEventListener('keydown', this.keyUpListener);
  },
  destroyed: function() {
    document.removeEventListener('keydown', this.keyUpListener);
  },
  computed: {
    paused: {
      get() {
        return Game.paused;
      },
      set(paused) {
        Game.paused = paused;
      },
    },
  },
  methods: {
    keyUpListener($event) {
      if ($event.key === ' ') {
        this.paused = !this.paused;
        $event.preventDefault();
      }
    },
  },
}
</script>

<style scoped>
.btn {
  cursor: pointer;
}
</style>
