<template>
  <div>
    <div>Turn: {{ turn }}</div>
  </div>
</template>

<script>

import { Game } from '@/core/objects/game';

export default {
  name: 'TurnDisplay',
  data() {
    return {
      turn: 0,
    };
  },
  mounted() {
    Game
      .$on('ticked', () => {
        this.turn = Game.turn;
      });
  },
}
</script>
