<template>
  <div :class="{ 'constructing': constructing, 'block-map-inner': true, }">
    <div v-for="(col, index) in blocks"
         :key="index + gameId"
         class="row">
      <Block v-for="block in col"
             :key="block.id + gameId"
             :blockRef="block" />
    </div>
  </div>
</template>

<script>
import Block from '@/components/Block';
import { Game } from '@/core/objects/game';

export default {
  name: 'BlockMap',
  components: {
    Block
  },
  data () {
    return {
      blocks: [],
      gameId: Math.random(),
      constructing: false,
    };
  },
  created() {
    Game
      .initialized.then(() => {
        this.blocks = Game.blockMap.blocks;
      });
    Game
      .$on('gameLoaded', () => {
        this.gameId = Math.random();
      })
      .$on('UI/selectedToConstruct', (building) => {
        this.constructing = !!building;
      });
  },
}
</script>

<style scoped>
.row {
  width: 70px;
  float: left;
}
</style>
