<template>
  <div v-if="building" style="padding-left: 2px;">
    <div class="building-name">{{ building.displayName }}</div>
    <div class="nav-links">
      <span
        :class="{'link': true, 'active': !isFirstSameClass()}"
        @click="gotoSameClass(-1)"
        v-tooltip="`Go to previous ${building.displayName}`"
      >&laquo; Prev</span>
      |
      <span
        :class="{'link': true, 'active': !isLastSameClass()}"
        @click="gotoSameClass(1)"
        v-tooltip="`Go to next ${building.displayName}`"
      >Next &raquo;</span>
    </div>
    <div style="clear: both;"></div>
    <div class="building-description"
         v-html="building.constructor.description"></div>
    <div v-if="building.disabledByInsufficientRes"
         class="disabled-by-insufficient-res">
      This building is disabled due to lack <br />of the input resource:
      {{ prettyCase(building.insufficientRes) }}
    </div>
    <div v-html="resObjToPrettyString(building.getTotalGain())"></div>
    <div class="res-net-box">
      Resource flow per turn: <br />
      <span
        v-for="(resAmt, resName) in building.getResNet(exp, blockMap)"
        :key="resName"
        v-tooltip="resNetTooltip(building, building.getResNet(exp, blockMap), resName, turn)"
        class="res-net-item"
      >{{metricPrefix(resAmt)}}&nbsp;{{prettyResNames[resName]}}</span>
    </div>
    <div v-show="building.upgradable">Level: {{building.level}} |
      <span
        :class="{'active': canBeUpgraded(), 'upgrade': true}"
        @mousedown="boostChangeLevel($event)"
        @touchstart="boostChangeLevel($event)"
        @mouseup="changeLevel($event)"
        @touchend="changeLevel($event)"
        v-tooltip="changeLevelTooltip(building, true)"
        @mouseover="highlightChangeLevel($event, building, true)"
        @mouseout="unhighlightChangeLevel(building)"
      >Upgrade</span> |
      <span
        :class="{'active': building.level > 1 && canBeDowngraded(), 'downgrade': true}"
        @mousedown="boostChangeLevel($event, true)"
        @touchstart="boostChangeLevel($event, true)"
        @mouseup="changeLevel($event, true)"
        @touchend="changeLevel($event, true)"
        v-tooltip="changeLevelTooltip(building, false)"
        @mouseout="clearBoostChangeLevelTimeout()"
      >Downgrade</span>
    </div>
    <div v-show="building.constructor.destructible">
      <span
        :class="{'active': canBeDemolished(), 'demolish': true}"
        v-tooltip="demolishTooltip(building)"
        @click="demolish()"
        >Demolish</span>
    </div>
    <div>
      <div style="float: right;">
        <span
          class="link active"
          v-tooltip="'Close building details'"
          @click="back()"
        >&#8629; Close</span>
      </div>
    </div>
  </div>
</template>

<script>
import { Game } from '@/core/objects/game';
import {
  buildingTooltip,
  getFractionsOfStored,
  resFractionsToPrettyString,
  resObjToPrettyString,
  resObjToPrettyStringWithRed,
} from '@/utils/tooltip';
import { negateValues, metricPrefix } from '@/utils/numUtils';
import prettyResNames from '@/core/prettyResNames';
import { prettyCase } from '@/utils/stringUtils';

const BOOST_CHANGE_TIME = 1200;

export default {
  name: 'BuildingInfo',
  data () {
    return {
      building: null,
      exp: null,
      blockMap: null,
      prettyResNames: prettyResNames,
      metricPrefix: metricPrefix,
      turn: 0,
      shiftPressed: false,
      ctrlPressed: false,
      tooltipContainer: null,
      boostChangeLevelTimeout: null,
      boostChangeLevelTime: BOOST_CHANGE_TIME,
    }
  },
  mounted() {
    Game
      .$on('UI/buildingSelected', (building) => {
        this.building = building;
      })
      .$on('ticked', () => {
        this.turn = Game.turn;
      });
    Game.initialized.then(() => {
      this.exp = Game.exp;
      this.blockMap = Game.blockMap;
      this.tooltipContainer = document.querySelector('.app-content');
    });
    document.addEventListener('keydown', this.keyDownListener);
    document.addEventListener('keyup', this.keyUpListener);
  },
  destroyed() {
    document.removeEventListener('keydown', this.keyDownListener);
    document.removeEventListener('keyup', this.keyUpListener);
  },
  methods: {
    canBeUpgraded() {
      return this.building.canBeUpgraded(Game.resStore);
    },
    canBeDowngraded() {
      return this.building.canBeDowngraded(Game.resStore);
    },
    boostChangeLevel($event, downgrade = false) {
      this.changeLevelTimeout = setTimeout(() => {
        this.boostChangeLevelTime = this.boostChangeLevelTime === BOOST_CHANGE_TIME
          ? 300
          : Math.max(50, Math.ceil(this.boostChangeLevelTime * 7 / 8));
        this.changeLevel($event, downgrade, false);
        this.boostChangeLevel($event, downgrade);
      }, this.boostChangeLevelTime);
    },
    changeLevel($event, downgrade = false, clearBoost = true) {
      if (clearBoost) {
        const hadBoost = this.boostChangeLevelTime !== BOOST_CHANGE_TIME;
        this.clearBoostChangeLevelTimeout();
        if (hadBoost) {
          return;
        }
      }
      Game.buildingProvider.changeLevel(
        this.building, Game.resStore,
        $event.ctrlKey, $event.shiftKey, downgrade,
      );
    },
    clearBoostChangeLevelTimeout() {
      clearTimeout(this.changeLevelTimeout);
      this.boostChangeLevelTime = BOOST_CHANGE_TIME;
      this.changeLevelTimeout = null;
    },
    demolish() {
      if (Game.buildingProvider.remove(
        Game.blockMap.getBlockByXY(this.building.mapX, this.building.mapY),
        this.building, Game.resStore,
      )) {
        this.back();
      }
    },
    canBeDemolished() {
      return this.building.disabledByInsufficientRes || this.building.canAffordDemolish(Game.resStore);
    },
    back() {
      Game.$emit('UI/buildingSelected', null);
    },
    gotoSameClass(direction) {
      const nearest = Game.buildingProvider.getNearestSameClass(this.building, direction)
      if (nearest) {
        Game.$emit('UI/buildingSelected', nearest);
      }
    },
    isFirstSameClass() {
      return Game.buildingProvider.getNearestSameClass(this.building, -1) === undefined;
    },
    isLastSameClass() {
      return Game.buildingProvider.getNearestSameClass(this.building, 1) === undefined;
    },
    gotoBuilding(x, y) {
      const getFunc = x !== 0 ? Game.blockMap.getNearestBuildingBlockInCol : Game.blockMap.getNearestBuildingBlockInRow;
      const block = getFunc.call(Game.blockMap, this.building.mapX + x, this.building.mapY + y);
      if (block && block.building) {
        Game.$emit('UI/buildingSelected', block.building);
      }
    },
    changeLevelTooltip(building, up) {
      if (!up && building.constructor.className === 'TheGreatZiggurat') {
        return 'How dare you ask for something like that ?!?';
      }
      if (!up && building.level <= 1) {
        return 'Cannot downgrade below level 1.';
      }
      let levelDiff = up ? 1 : -1;
      if (this.ctrlPressed) {
        if (up) {
          while (building.canBeUpgraded(Game.resStore, levelDiff + 1)) {
            levelDiff++;
          }
        } else {
          while (building.canBeDowngraded(Game.resStore, levelDiff - 1) && levelDiff - 1 > -building.level) {
            levelDiff--;
          }
        }
      } else if (this.shiftPressed) {
        levelDiff *= 5;
        if (up) {
          while (!building.canBeUpgraded(Game.resStore, levelDiff) && levelDiff > 1) {
            levelDiff--;
          }
        } else {
          while ((!building.canBeDowngraded(Game.resStore, levelDiff) && levelDiff < -1) ||
                 levelDiff - 1 < -building.level) {
            levelDiff++;
          }
        }
      }
      const gainValues = building.getUpgradeGain(levelDiff);
      const costValues = building.getUpgradeCost(levelDiff);
      let cost = '';
      let costFraction = '';
      let gain = '';
      let changeText = '';
      let changeMax = '';
      if (up) {
        cost = resObjToPrettyStringWithRed(
          costValues, Game.resStore.store, { sep: '<br />' },
        );
        costFraction = resFractionsToPrettyString(
          getFractionsOfStored(costValues, Game.resStore)
        );
        gain = resObjToPrettyString(
          gainValues, false, '<br />',
        );
        changeText = 'upgrade';
        changeMax = 'maximum affordable';
      } else {
        cost = resObjToPrettyString(
          costValues, false, '<br />',
        );
        costFraction = resFractionsToPrettyString(
          getFractionsOfStored(costValues, Game.resStore),
          { markRed: false },
        );
        gain = resObjToPrettyStringWithRed(
          gainValues, Game.resStore.store, { sep: '<br />' }
        );
        changeText = 'downgrade';
        changeMax = 'level 1';
      }
      const net = resObjToPrettyStringWithRed(
        building.getResNetDiff(levelDiff, Game.exp, Game.blockMap),
        Game.resStore.net,
        { showPlusSign: true, sep: '<br />', compareOnlyNegatives: true },
      );
      const levelDiffText = Math.abs(levelDiff) > 1 ? 'Levels' : 'Level';
      const levelDiffNumber = levelDiff > 0 ? '+' + levelDiff : levelDiff;
      const levelDiffCaption =
        `<div class="level-diff-caption">[${levelDiffNumber} ${levelDiffText}]</div>`;
      const header = `<div class="building-header">` +
          `Hold <span class="${this.shiftPressed ? 'green' : ''}">[Shift]</span> ` +
          `key and click to ${changeText} by up to 5 affordable levels.\n` +
          `Hold <span class="${this.ctrlPressed ? 'green' : ''}">[Ctrl]</span> ` +
          `key and click to ${changeText} to ${changeMax}.\n` +
          `Hold the button pressed to ${changeText} multiple times.` +
        `</div>` +
        `<div class="building-header-sep"></div>`;
      return {
        content: levelDiffCaption + header +
          buildingTooltip(cost, costFraction, gain, net, {
            costLabel: up ? 'Upgrade cost:' : 'Cost refund (100%):',
            gainLabel: up ? 'Upgrade gain:' : 'Gain loss:',
            resNetLabel: 'Resource flow per turn change:',
          }),
        boundariesElement: this.tooltipContainer,
      };
    },
    demolishTooltip(building) {
      const costValues = building.getTotalCost(Game.buildingProvider);
      const cost = resObjToPrettyString(
        costValues, false, '<br />',
      );
      const costFraction = resFractionsToPrettyString(
        getFractionsOfStored(costValues, Game.resStore),
        { markRed: false },
      );
      let gain;
      if (building.disabledByInsufficientRes) {
        gain = resObjToPrettyString(
          building.getTotalGain(), false, '<br />',
        );
      } else {
        gain = resObjToPrettyStringWithRed(
          building.getTotalGain(), Game.resStore.store, { sep: '<br />' },
        );
      }
      const net = resObjToPrettyStringWithRed(
        negateValues(building.getResNet(Game.exp, Game.blockMap)),
        Game.resStore.net,
        { showPlusSign: true, sep: '<br />', compareOnlyNegatives: true },
      );
      const header = `<div class="building-header">` +
          `Remove the building to free up the space \n` +
          `getting all invested resources back.` +
        `</div>` +
        `<div class="building-header-sep"></div>`;
      return {
        content: header + buildingTooltip(cost, costFraction, gain, net, {
          costLabel: 'Cost refund (100%):',
          gainLabel: 'Gain loss:',
          resNetLabel: 'Resource flow per turn change:',
        }),
        boundariesElement: this.tooltipContainer,
      };
    },
    resNetTooltip(building, resNet, resName) {
      const baseAmt = building.constructor.resNet[resName];
      const customAdded = building.constructor.getCustomAddedResNet(building.level)[resName];
      const multipliers = building.constructor.getResNetMultipliers(
        building.level, Game.exp, building.getSettlementDistance(Game.blockMap)
      );
      let levelMultiplier = Math.round(multipliers.levelMultiplier * 100) / 100;
      levelMultiplier = levelMultiplier > 1_000_000
        ? metricPrefix(levelMultiplier)
        : levelMultiplier;
      const resExpMultiplier = resNet[resName] > 0
        ? 'x' + multipliers.resExpMultipliers[resName].toFixed(2)
        : '-';
      const buildingExpMultiplier = resNet[resName] > 0
        ? 'x' + multipliers.buildingExpMultiplier.toFixed(2)
        : '-';
      const settlementDistanceMultiplier = building.codeName !== 'settlement' && resNet[resName] > 0
        ? 'x' + multipliers.settlementDistanceMultiplier.toFixed(2)
        : '-';
      const baseLine = 'Base: ' + metricPrefix(baseAmt) + ' ' + prettyResNames[resName];

      const multiplierLines = [
        `Building level: <span class="green">x${levelMultiplier}</span>`,
        `${prettyResNames[resName]} proficiency: <span class="green">${resExpMultiplier}</span>`,
        `${building.displayName} proficiency: <span class="green">${buildingExpMultiplier}</span>`,
        `Settlement distance: <span class="green">${settlementDistanceMultiplier}</span>`,
      ];
      const resNetFloats = building.getResNet(Game.exp, Game.blockMap, false);
      const totalAmt = Math.floor(100 * resNetFloats[resName]) / 100;
      const summaryLines = Math.abs(totalAmt) < 1_000_000
        ? [
          'Total: ' + totalAmt,
          'Rounded down: ' + resNet[resName],
        ]
        : ['Total: ' + metricPrefix(totalAmt)];
      if (customAdded) {
        const customAddedClass = customAdded > 0 ? 'green' : 'red';
        const customAddedSign = customAdded > 0 ? '+' : '';
        summaryLines.unshift(
          `Additional: <span class="${customAddedClass}">` +
            `${customAddedSign}${metricPrefix(customAdded)}</span>`);
      }
      return {
        content: [
          baseLine,
          multiplierLines.join('<br />'),
          summaryLines.join('<br />'),
        ].join('<hr />'),
        boundariesElement: this.tooltipContainer,
      };
    },
    highlightChangeLevel($event, building, up) {
      Game.$emit('UI/highlightedChangeLevel', building);
    },
    unhighlightChangeLevel(building) {
      Game.$emit('UI/unhighlightedChangeLevel', building);
      this.clearBoostChangeLevelTimeout();
    },
    keyDownListener($event) {
      if (!this.building) {
        return;
      }
      if ($event.key === 'Shift') {
        this.shiftPressed = true;
      }
      if ($event.key === 'Control') {
        this.ctrlPressed = true;
      }
      if ($event.key.toLowerCase() === 'u') {
        this.changeLevel($event);
      }
      if ($event.key.toLowerCase() === 'd') {
        this.changeLevel($event, true);
      }
      if ($event.key === 'x') {
        this.demolish();
      }
      if ($event.key === 'p') {
        this.gotoSameClass(-1);
      }
      if ($event.key === 'n') {
        this.gotoSameClass(1);
      }
      if ($event.key === 'ArrowUp') {
        this.gotoBuilding(0, -1);
        $event.preventDefault();
      }
      if ($event.key === 'ArrowRight') {
        this.gotoBuilding(1, 0);
        $event.preventDefault();
      }
      if ($event.key === 'ArrowDown') {
        this.gotoBuilding(0, 1);
        $event.preventDefault();
        return false;
      }
      if ($event.key === 'ArrowLeft') {
        this.gotoBuilding(-1, 0);
        $event.preventDefault();
      }
    },
    keyUpListener($event) {
      if ($event.key === 'Shift') {
        this.shiftPressed = false;
      }
      if ($event.key === 'Control') {
        this.ctrlPressed = false;
      }
    },
    resObjToPrettyString,
    prettyCase,
  }
}
</script>

<style scoped>
  .upgrade, .downgrade, .demolish {
    cursor: default;
    color: #555;
    border-bottom: 1px solid #00000000;
  }
  .active {
    cursor: pointer;
  }
  .upgrade.active {
    color: green;
  }
  .upgrade.active:hover {
    color: #109010;
    border-bottom-color: #109010;
  }
  .downgrade.active {
    color: orange;
  }
  .downgrade.active:hover {
    color: #FFB510;
    border-bottom-color: #FFB510;
  }
  .demolish.active {
    color: red;
  }
  .demolish.active:hover {
    color: #FF1010;
    border-bottom-color: #FF1010;
  }
  .link {
    color: #555;
    border-bottom: 1px solid #00000000;
  }
  .link.active {
    color: cornflowerblue;
  }
  .link.active:hover {
    color: #74A5FD;
    border-bottom-color: #74A5FD;
  }
  .building-name {
    float: left;
    width: 193px;
    color: chocolate;
    padding-top: 2px;
  }
  .building-description {
    margin-bottom: 10px;
  }
  .res-net-item + .res-net-item::before {
    content: ', ';
  }
  .res-net-box {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nav-links {
    padding-top: 2px;
    float: right;
  }
  .disabled-by-insufficient-res {
    color: red;
    margin-bottom: 10px;
    padding-left: 24px;
    position: relative;
  }
  .disabled-by-insufficient-res:before {
    content: '✖';
    position: absolute;
    left: 3px;
    top: calc(50% - 11px);
  }
</style>
