<template>
  <div class="constr-buildings"
       ref="panel">
    <div class="header">
      <template v-if="!selectedToConstruct">
        Select a building to construct
        (<span class="construct-help"
        v-tooltip="'Hold [Shift] key to place multiple instances of the same building.'">?</span>):
      </template>
      <template v-else>
        <span class="link"
              @click="selectToConstruct(null)">Cancel</span>
      </template>
    </div>
    <div v-for="(building, index) in buildings"
         :key="index"
         @click="selectToConstruct(selectedToConstruct === building ? null : building)"
         :class="[{
           'selected': selectedToConstruct === building,
           'building': true,
           'affordable': canAfford(building),
           'last-in-group': isLastInGroup(building, buildings[index+1]),
           'bg-red-long': highlightedRed.includes(building),
           'bg-green-long': highlightedGreen.includes(building),
         }]"
         v-show="isVisible(building)"
         v-tooltip="buildingTooltip(building)"
         @mouseover="highlightBuilding(building)"
         @mouseout="unhighlightBuilding(building)">
      <div class="label">
        {{ building.displayName }}
        <span v-if="buildingProvider.builtCounters[building.className]"
          >({{ buildingProvider.builtCounters[building.className] }})</span>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="buildings-unlocked"
         @click="unlockNewBuildings()"
         v-show="buildingProvider.unlockedBuildingCount">
      {{ buildingProvider.unlockedBuildingCount }} new buildings unlocked - click to discover
    </div>
    <div class="to-discover"
         v-show="buildingProvider.undiscoveredBuildingCount > 0">
      {{ buildingProvider.undiscoveredBuildingCount }} more buildings to discover
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import {
  getConstructibleBuildings, getResConsumers, getResProducers,
} from '@/core/objects/buildings';
import { Game } from '@/core/objects/game';
import {
  buildingTooltip,
  getFractionsOfStored,
  resFractionsToPrettyString,
  resObjToPrettyString,
  resObjToPrettyStringWithRed,
} from '@/utils/tooltip';
import { isNextPhase, isPhaseLater } from '@/core/objects/buildings/developmentPhases';

export default {
  name: 'ConstrBuildings',
  data () {
    return {
      buildings: getConstructibleBuildings(),
      selectedToConstruct: null,
      highlightedGreen: [],
      highlightedRed: [],
      buildingProvider: {
        builtCounters: {},
      },
      initialized: false,
    }
  },
  created() {
    Game
      .$on('UI/selectedToConstruct', (building) => {
        this.selectedToConstruct = building;
      })
      .$on('UI/highlightedResource', (resName) => {
        this.highlightedGreen = getResProducers(resName, Game.exp);
        this.highlightedRed = getResConsumers(resName, Game.exp);
      })
      .$on('UI/unhighlightedResource', (resName) => {
        this.highlightedGreen = [];
        this.highlightedRed = [];
      })
      .initialized.then(() => {
        Game.resStore.eventBus.$on('netUpdated', () => {
          if (this.selectedToConstruct &&
              !this.selectedToConstruct.canAfford(Game.buildingProvider, Game.resStore)) {
            Game.$emit('UI/selectedToConstruct', null);
          }
        });
        this.initialized = true;
        this.buildingProvider = Game.buildingProvider;
        this.$forceUpdate();
      });
  },
  methods: {
    selectToConstruct(building) {
      if (building) {
        if (building.canAfford(Game.buildingProvider, Game.resStore)) {
          Game.$emit('UI/selectedToConstruct', building);
        }
      } else {
        Game.$emit('UI/selectedToConstruct', null);
      }
    },
    buildingTooltip(building) {
      if (!this.initialized) {
        return '';
      }
      const costObj = building.getBuildCost(Game.buildingProvider);
      const cost = resObjToPrettyStringWithRed(
        costObj, Game.resStore.store, { sep: '<br />' },
      );
      const costFraction = resFractionsToPrettyString(
        getFractionsOfStored(costObj, Game.resStore)
      );
      const gain = resObjToPrettyString(building.buildGain, false, '<br />');
      let net = resObjToPrettyStringWithRed(
        building.getResNet(1, Game.exp),
        Game.resStore.net,
        { showPlusSign: false, sep: '<br />', compareOnlyNegatives: true },
      );
      const header = `<div class="building-header">${building.description}</div>` +
        `<div class="building-header-sep"></div>`;
      return {
        'content': header + buildingTooltip(cost, costFraction, gain, net),
        'boundariesElement': 'body',
        'delay': {'show': 350, 'hide': 0},
      };
    },
    highlightBuilding(building) {
      Game.$emit('UI/highlightedBuilding', building);
    },
    unhighlightBuilding(building) {
      Game.$emit('UI/unhighlightedBuilding', building);
    },
    isLastInGroup(building, nextBuilding) {
      return nextBuilding && (nextBuilding.developmentPhase !== building.developmentPhase);
    },
    canAfford(building) {
      if (!this.initialized) {
        return false;
      }
      return building.canAfford(Game.buildingProvider, Game.resStore);
    },
    isVisible(building) {
      if (!this.initialized) {
        return false;
      }
      return !isPhaseLater(building.developmentPhase, Game.buildingProvider.lastPhaseBuilt) ||
        (isNextPhase(building.developmentPhase, Game.buildingProvider.lastPhaseBuilt) &&
          Game.buildingProvider.isLastPhaseUnlocked);
    },
    unlockNewBuildings() {
      Game.buildingProvider.isLastPhaseUnlocked = true;
      Game.buildingProvider.unlockedBuildingCount = 0;
      Game.$emit('UI/newBuildingsUnlocked');

      this.$refs.panel.classList.add('new-buildings-unlocked');
      Vue.nextTick(() => {
        this.$refs.panel.scrollTop = this.$refs.panel.scrollHeight;
        setTimeout(() => {
          this.$refs.panel.classList.remove('new-buildings-unlocked');
        }, 1000);
      });
    },
  }
}
</script>

<style scoped>
  .constr-buildings.new-buildings-unlocked {
    scroll-behavior: smooth;
  }
  .building {
    cursor: pointer;
    width: fit-content;
    min-width: 80px;
    color: #999;
    opacity: .75;
    line-height: 21px;
    padding-left: 2px;
    padding-right: 3px;
  }
  .label {
    border-bottom: 1px solid #00000000;
    float: left;
    margin-right: 30px;
  }
  .building:hover {
    color: red;
  }
  .building.affordable {
    color: unset;
    opacity: unset;
  }
  .building.affordable:hover {
    color: green;
  }
  .building.affordable.selected {
    font-weight: bold;
    color: #109010;
  }
  .building.affordable.selected .label {
    border-bottom-color: #109010;
  }
  .last-in-group {
    margin-bottom: 13px;
  }
  .to-discover {
    color: #999;
    opacity: .45;
    cursor: unset;
    font-style: italic;
  }
  .buildings-unlocked {
    cursor: pointer;
    color: green;
    border-bottom: 1px solid #00000000;
    width: fit-content;
  }
  .buildings-unlocked:hover {
    color: #109010;
    border-bottom-color: #109010;
  }
  .link {
    color: cornflowerblue;
    cursor: pointer;
    border-bottom: 1px solid #00000000;
  }
  .link:hover {
    color: #74A5FD;
    border-bottom-color: #74A5FD;
  }
  .construct-help {
    color: cornflowerblue;
    border-bottom: 1px solid;
    padding-bottom: 2px;
    line-height: 1;
    display: inline-block;
  }
</style>
