<template>
  <div>
    <div>
      <div class="label">Game proficiency level: </div>
      <div class="value">{{ getLevel(expKinds.GAME) }}</div>
      <div class="line"
           :style="{'width': getNextLevelProgress(expKinds.GAME) + '%'}"></div>
    </div>

    <div class="caption">
      <div class="label">Building proficiencies:</div>
      <div class="value">Lvl</div>
      <div class="clear"></div>
    </div>
    <div v-for="(value, building) in expStore[expKinds.BUILDING]"
         v-show="value > 0"
         :key="building"
         v-tooltip="buildingExpTooltip(building, value)"
         class="row">
      <div class="label">{{ buildings[building].displayName }}</div>
      <div class="value">{{ getLevel(expKinds.BUILDING, building) }}</div>
      <div class="line"
           :style="{'width': getNextLevelProgress(expKinds.BUILDING, building) + '%'}"></div>
    </div>

    <div class="caption">
      <div class="label">Resource proficiencies:</div>
      <div class="value">Lvl</div>
      <div class="clear"></div>
    </div>
    <div v-for="(value, resName) in expStore[expKinds.RES]"
         v-show="value > 0"
         :key="resName"
         v-tooltip="resourceExpTooltip(resName, value)"
         class="row">
      <div class="label">{{ prettyResNames[resName] }}</div>
      <div class="value">{{ getLevel(expKinds.RES, resName) }}</div>
      <div class="line"
           :style="{'width': getNextLevelProgress(expKinds.RES, resName) + '%'}"></div>
    </div>
  </div>
</template>

<script>

import { Game } from '@/core/objects/game';
import { buildings } from '@/core/objects/buildings';
import prettyResNames from '@/core/prettyResNames';
import { metricPrefix } from '@/utils/numUtils';

const tooltipTemplate = (proficiencyName, proficiencyValue, expValue, nextLevelAt, nextLevelProgress) => (
  `<table><tbody>` +
    `<tr><td style="text-align: left;">${proficiencyName} proficiency:</td>` +
      `<td style="text-align: right;"><span class="green">x${proficiencyValue}</span></td></tr>` +
    `<tr><td style="text-align: left;">Current exp:</td>` +
      `<td style="text-align: right;">${metricPrefix(expValue)}</td></tr>` +
    `<tr><td style="text-align: left;">To the next level:</td>` +
      `<td style="text-align: right;">${metricPrefix(nextLevelAt - expValue)}</td></tr>` +
    `<tr><td style="text-align: left;">Current progress:</td>` +
      `<td style="text-align: right;">${nextLevelProgress}%</td></tr>` +
  `</tbody></table>`
);

export default {
  name: 'ExpDetails',
  data() {
    return {
      expStore: {},
      expKinds: {},
      initialized: false,
      buildings,
      prettyResNames,
    };
  },
  created() {
    Game
      .initialized.then(() => {
        this.expStore = Game.exp.expStore;
        this.expKinds = Game.exp.GET_KIND;
        this.initialized = true;
        Game.exp.eventBus.$on('expTicked', () => {
          this.$forceUpdate();
        });
      });
  },
  methods: {
    getLevel(expKind, key = null) {
      if (!this.initialized) {
        return 0;
      }
      return Game.exp.getLevel(expKind, key);
    },
    getNextLevelProgress(expKind, key = null) {
      if (!this.initialized) {
        return 0;
      }
      return Math.ceil(Game.exp.getNextLevelProgress(expKind, key) * 100);
    },
    buildingExpTooltip(building, value) {
      const level = Game.exp.getLevel(Game.exp.GET_KIND.BUILDING, building);
      const nextLevelAt = Math.ceil(Game.exp.getLevelExp(level, Game.exp.GET_KIND.BUILDING));
      const nextLevelProgress = Math.ceil(Game.exp.getNextLevelProgress(Game.exp.GET_KIND.BUILDING, building) * 100);
      const proficiency = (1 + level / 100).toFixed(2);
      return tooltipTemplate(buildings[building].displayName, proficiency, value, nextLevelAt, nextLevelProgress);
    },
    resourceExpTooltip(resName, value) {
      const level = Game.exp.getLevel(Game.exp.GET_KIND.RES, resName);
      const nextLevelAt = Math.ceil(Game.exp.getLevelExp(level, Game.exp.GET_KIND.RES));
      const nextLevelProgress = Math.ceil(Game.exp.getNextLevelProgress(Game.exp.GET_KIND.RES, resName) * 100);
      const proficiency = (1 + level / 100).toFixed(2);
      return tooltipTemplate(prettyResNames[resName], proficiency, value, nextLevelAt, nextLevelProgress);
    },
  }
}
</script>

<style scoped>
  .label {
    float: left;
  }
  .value {
    float: right;
  }
  .line {
    clear: both;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 2px;
    transition-property: width;
    transition-duration: .3s;
  }
  .caption {
    margin-top: 10px;
  }
  .clear {
    clear: both;
  }
</style>
