<template>
  <div v-if="gameEnded"
       class="banner"
       ref="banner">
    <div class="inner">
      <div class="banner-header">Victory!</div>
      <div class="content">
        <div class="box">
          <div class="label">Turns passed:</div>
          <div class="value">{{ endTurn }}</div>
        </div>
        <div class="box">
          <div class="label">Game level:</div>
          <div class="value">{{ endLevel }}</div>
        </div>
        <div class="progress-header">Your progress history:</div>
        <div class="box">
          <div class="label">Age</div>
          <div class="value">Turn</div>
        </div>
        <div v-for="(turn, phase) in turnsByPhase"
             :key="phase"
             class="box">
          <div class="label">{{ prettyCase(phase) }}</div>
          <div class="value">{{ turn }}</div>
        </div>
      </div>
      <div class="buttons">
        <div class="button"
             @click="newGame()">
          New game
        </div>
        <div class="button"
             @click="close()">
          Continue
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Vue from 'vue';
import { Game } from '@/core/objects/game';
import { prettyCase } from '@/utils/stringUtils';
import * as GameState from '@/core/objects/gameState';

export default {
  name: 'GameEnd',
  data() {
    return {
      gameEnded: false,
      endTurn: 0,
      endLevel: 0,
      turnsByPhase: {},
    };
  },
  mounted() {
    Game.initialized.then(() => {
      Game.gameEnd.eventBus.$on('victory', () => {
        GameState.saveToLocalStorage(Game);
        this.gameEnded = true;
        this.endTurn = Game.turn;
        this.endLevel = Game.exp.getLevel(Game.exp.GET_KIND.GAME);
        this.turnsByPhase = Game.stats.turnsByPhase;
        Vue.nextTick(() => {
          setTimeout(() => {
            this.$refs.banner.classList.add('slide-in');
          }, 100);
        });
      });
    });
  },
  methods: {
    prettyCase,
    newGame() {
      if (confirm('All your progress will be lost. Are you sure?')) {
        GameState.reset(Game);
      }
    },
    close() {
      this.$refs.banner.classList.remove('slide-in');
      Vue.nextTick(() => {
        Game.paused = false;
        setTimeout(() => {
          this.gameEnded = false;
        }, 2000);
      });
    },
  },
};
</script>

<style scoped>
  .banner {
    background-color: black;
    position: fixed;
    top: 110%;
    left: calc(50% - 350px);
    height: 635px;
    width: 500px;
    z-index: 10;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #00000099;
    transition: top 1.5s cubic-bezier(0.01, 0.52, 0.1, 0.97);
  }

  .slide-in {
    top: calc(50% - 300px);
  }

  .inner {
    position: absolute;
    top: 16px;
    left: 16px;
    bottom: 16px;
    right: 16px;
    padding: 30px;
    border: 12px solid #67ab1c;
  }

  .banner-header {
    font-size: 50px;
    text-align: center;
    font-variant: petite-caps;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .content {
    margin: 0 auto;
    width: 200px;
    user-select: all;
  }
  .progress-header {
    color: chocolate;
    margin: 10px 0;
    text-align: center;
  }
  .box {
    display: flex;
    flex-direction: row;
    width: 200px;
  }
  .label {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .value {
    flex-grow: 0;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
  }
  .button {
    width: 100px;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
  }
</style>
