<template>
  <span :class="{'green': amt > 0 && !deficit, 'red': amt < 0 || deficit, }">{{ prettyDiff(amt, deficit) }}</span>
</template>

<script>
import {metricPrefix} from '@/utils/numUtils';

export default {
  name: 'PrettyDiff',
  props: {
    amt: Number,
    deficit: Boolean,
  },
  methods: {
    prettyDiff(amt, deficit) {
      const prettyAmt = metricPrefix(amt);
      const deficitStr = deficit ? 'Deficit, ' : '';
      if (amt > 0) {
        return ` (${deficitStr}+${prettyAmt})`;
      }
      if (amt < 0) {
        return ` (${deficitStr}${prettyAmt})`;
      }
      return deficit ? ` (Deficit)` : '';
    },
  }
}
</script>

<style scoped>
</style>
