<template>
  <div class="res-store"
       ref="panel">
    <div class="header">Resources</div>
    <div class="res-entry"
         v-if="showExpPanel">
      Game level:
      {{ gameExp.currentLevel }}
      ({{ gameExp.nextLevelProgress }},
      <span class="exp-details-link"
            @click="toggleExpPanel()"
            >{{ !expPanelOpened ? 'Details' : 'Close details' }}</span>)
    </div>
    <div v-for="(resGroup, index) in resGrouped"
         v-if="isGroupVisible(index)"
         :key="index"
         class="res-group">
      <div v-for="resName in resGroup"
           :class="{'bg-green': highlightedGreen[resName],
                    'bg-red': highlightedRed[resName],
                    'res-entry': true}"
           :key="resName"
           @mouseover="highlightResource(resName)"
           @mouseout="unhighlightResource(resName)"
      >
        <div v-tooltip="resourceTooltip(resName)"
             class="res-entry-text">
          {{ prettyResNames[resName] }}<PrettyDiff
            :amt="resStore.net[resName]"
            :deficit="resStore.deficit[resName]"
          />:
          {{ metricPrefix(resStore.store[resName]) }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { Game } from '@/core/objects/game';
import prettyResNames from '@/core/prettyResNames';
import PrettyDiff from '@/components/PrettyDiff';
import { metricPrefix } from '@/utils/numUtils';
import { resGrouped, resGroupToDevPhase } from '@/core/consts/res';
import actionPanels from '@/core/actionPanels';
import { isNextPhase, isPhaseLater } from '@/core/objects/buildings/developmentPhases';
import { buildings } from '@/core/objects/buildings';

export default {
  name: 'ResStore',
  components: {
    PrettyDiff
  },
  data () {
    return {
      resStore: {},
      resGrouped: [],
      prettyResNames: prettyResNames,
      highlightedGreen: {},
      highlightedRed: {},
      gameExp: {
        currentLevel: 0,
        nextLevelProgress: '0%',
      },
      expPanelOpened: false,
      showExpPanel: !!+process.env.show_exp_panel,
      tooltipContainer: null,
      resHighlightCallback: null,
    }
  },
  created() {
    Game.initialized.then(() => {
      this.resStore = Game.resStore;
      this.resGrouped = resGrouped;
      Game.exp.eventBus.$on('expTicked', () => {
        this._updateExpDisplay();
      });
      Game.$on('gameLoaded', () => {
        this._updateExpDisplay();
      });
      this.tooltipContainer = document.querySelector('.app-content');
    });
    Game.$on('UI/highlightedBuilding', (building) => {
      this._startHighlightingResources(() => {
        this.highlightResources(building.getBuildCost(Game.buildingProvider));
      });
    });
    Game.$on('UI/unhighlightedBuilding', () => {
      this._stopHighlightingResources();
    });
    Game.$on('UI/highlightedChangeLevel', (building) => {
      this._startHighlightingResources(() => {
        this.highlightResources(building.getUpgradeCost());
      });
    });
    Game.$on('UI/unhighlightedChangeLevel', () => {
      this._stopHighlightingResources();
    });
    Game.$on('UI/activeActionPanelSwitched', (panel) => {
      this.expPanelOpened = panel === actionPanels.expDetails;
    });
    Game.$on('UI/newBuildingsUnlocked', () => {
      this.$refs.panel.classList.add('new-buildings-unlocked');
      Vue.nextTick(() => {
        this.$refs.panel.scrollTop = this.$refs.panel.scrollHeight;
        setTimeout(() => {
          this.$refs.panel.classList.remove('new-buildings-unlocked');
        }, 1000);
      });
    });
  },
  methods: {
    highlightResources(res) {
      this.unhighlightResources();
      Object.entries(res).forEach(([resName, resAmt]) => {
        if (this.resStore.store[resName] < resAmt) {
          this.highlightedRed[resName] = true;
        }
        if (this.resStore.store[resName] >= resAmt) {
          this.highlightedGreen[resName] = true;
        }
      });
    },
    unhighlightResources() {
      this.highlightedRed = {};
      this.highlightedGreen = {};
    },
    _startHighlightingResources(callback) {
      callback();
      if (this.resHighlightCallback) {
        Game.resStore.eventBus.$off('netUpdated', this.resHighlightCallback);
      }
      this.resHighlightCallback = () => {
        callback();
      };
      Game.resStore.eventBus.$on('netUpdated', this.resHighlightCallback);
    },
    _stopHighlightingResources() {
      if (this.resHighlightCallback) {
        Game.resStore.eventBus.$off('netUpdated', this.resHighlightCallback);
      }
      this.resHighlightCallback = null;
      this.unhighlightResources();
    },
    highlightResource(resName) {
      Game.$emit('UI/highlightedResource', resName);
    },
    unhighlightResource(resName) {
      Game.$emit('UI/unhighlightedResource', resName);
    },
    toggleExpPanel() {
      Game.$emit('UI/toggleExpPanel');
    },
    isGroupVisible(index) {
      return !isPhaseLater(resGroupToDevPhase[index], Game.buildingProvider.lastPhaseBuilt) ||
        (isNextPhase(resGroupToDevPhase[index], Game.buildingProvider.lastPhaseBuilt) &&
          Game.buildingProvider.isLastPhaseUnlocked);
    },
    metricPrefix: metricPrefix,
    _updateExpDisplay() {
      this.gameExp.currentLevel = Game.exp.getLevel(Game.exp.GET_KIND.GAME);
      this.gameExp.nextLevelProgress =
        Math.floor(Game.exp.getNextLevelProgress(Game.exp.GET_KIND.GAME) * 100) + '%';
    },
    resourceTooltip(resName) {
      let producingAmt = Game.resStore.produced[resName];
      const producing = producingAmt ? `+${metricPrefix(producingAmt)}` : '0';
      const consuming = metricPrefix(Game.resStore.net[resName] - producingAmt);
      const netBuildings = Object.keys(Game.resStore.netPerBuildingClass[resName])
        .sort((buildingA, buildingB) => {
          const resNet = Game.resStore.netPerBuildingClass[resName];
          return resNet[buildingB] - resNet[buildingA];
        });
      const netBuildingNames = netBuildings
        .map((buildingClass) => {
          return buildings[buildingClass].displayName;
        })
        .join('<br />');
      const netPerBuilding = netBuildings
        .map((buildingClass) => {
          const buildingNet = Game.resStore.netPerBuildingClass[resName][buildingClass];
          const color = buildingNet > 0
            ? 'green'
            : (buildingNet < 0 ? 'red' : '');
          return `<span class="${color}">${metricPrefix(buildingNet)}</span>`;
        })
        .join('<br />');
      let content = `<div>${prettyResNames[resName]} flow per turn</div>` +
        `<div class="res-store-tooltip block-box">` +
          `<div class="block">` +
            `Producing: <br />Consuming: ` +
          `</div>` +
          `<div class="block values">` +
            `<span class="green">${producing}</span> <br />` +
            `<span class="red">${consuming}</span>` +
          `</div>` +
        `</div>`;
      if (netBuildingNames) {
        content +=
          `<hr class="horizontal-sep" />` +
          `<div class="res-store-tooltip block-box">` +
            `<div class="block">` +
              netBuildingNames +
            `</div>` +
            `<div class="block values">` +
              netPerBuilding +
            `</div>` +
          `</div>`;
      }
      return {
        'content': content,
        'delay': {'show': 500, 'hide': 0},
        'placement': netBuildings.length > 6 ? 'left' : 'bottom',
        'boundariesElement': this.tooltipContainer,
      };
    },
  }
}
</script>

<style scoped>
  .res-store.new-buildings-unlocked {
    scroll-behavior: smooth;
  }
  .res-entry {
  }
  .res-entry-text {
    width: fit-content;
    padding-left: 2px;
    padding-right: 8px;
  }
  .exp-details-link {
    color: cornflowerblue;
    cursor: pointer;
    border-bottom: 1px solid #00000000;
  }
  .exp-details-link:hover {
    color: #74A5FD;
    border-bottom-color: #74A5FD;
  }
  .res-group {
    margin-bottom: 13px;
  }
  .res-group:last-of-type {
    margin-bottom: 0;
  }
</style>
