<template>
  <div id="app"
       :class="helpStep"
       @click="toggleHelp">
    <div class="help-overlay"></div>
    <div class="app-content">
      <div class="block-map">
        <div class="help-border help-2nd"
             v-tooltip="helpTooltip(2)" />
        <div class="help-border help-3rd"
             v-tooltip="helpTooltip(3)" />
        <BlockMap class="blurable block-map-inner" />
      </div>
      <div class="right-container">
        <div class="help-border help-5th"
             v-tooltip="helpTooltip(5)" />
        <ResStore class="res-store blurable"
                  v-dragscroll.pass />
      </div>
      <div class="right-container with-ctrl-panel">
        <div class="help-border help-1st"
             v-tooltip="helpTooltip(1)" />
        <div class="help-border help-4th"
             v-tooltip="helpTooltip(4)" />
        <CtrlPanel class="ctrl-panel blurable" />
        <ConstrBuildings class="constr-buildings blurable"
                         v-dragscroll.pass
                         v-show="activeActionPanel === actionPanels.construct" />
        <BuildingInfo class="building-info blurable"
                      v-dragscroll.pass
                      v-show="activeActionPanel === actionPanels.buildingInfo" />
        <ExpDetails class="exp-details"
                    v-dragscroll.pass
                    v-show="activeActionPanel === actionPanels.expDetails" />
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="app-bg"></div>
    <GameEnd />
    <div class="version">v.6</div>
  </div>
</template>

<script>
import { Game } from '@/core/objects/game';
import BlockMap from '@/components/BlockMap';
import ResStore from '@/components/ResStore';
import ConstrBuildings from '@/components/ConstrBuildings';
import BuildingInfo from '@/components/BuildingInfo';
import ExpDetails from '@/components/ExpDetails';
import CtrlPanel from '@/components/CtrlPanel/CtrlPanel';
import actionPanels from '@/core/actionPanels';
import GameEnd from '@/components/GameEnd';

export default {
  name: 'App',
  components: {
    GameEnd,
    CtrlPanel,
    ResStore,
    BlockMap,
    ConstrBuildings,
    BuildingInfo,
    ExpDetails,
  },
  data() {
    return {
      actionPanels,
      activeActionPanel: actionPanels.construct,
      helpStep: '',
    };
  },
  mounted() {
    setTimeout(() => Game.initGame(), 0);
    Game.initialized.then(() => {
      Game
        .$on('UI/buildingSelected', (building) => {
          this.activeActionPanel = building
            ? this.actionPanels.buildingInfo
            : this.actionPanels.construct;
        })
        .$on('UI/toggleExpPanel', () => {
          const expPanelOpened = this.activeActionPanel === this.actionPanels.expDetails;
          Game.$emit('UI/buildingSelected', null);
          this.activeActionPanel = expPanelOpened
            ? this.actionPanels.construct
            : this.actionPanels.expDetails;
        })
        .$on('UI/showHelp', () => {
          Game.$emit('UI/buildingSelected', null);
          setTimeout(() => { this.helpStep = 'help-1st'; }, 0);
        })
        .$on('gameLoaded', () => {
          Game.$emit('UI/buildingSelected', null);
        });
    });
    document.addEventListener('keydown', this.keyDownListener);
  },
  destroyed() {
    document.removeEventListener('keydown', this.keyDownListener);
  },
  methods: {
    keyDownListener($event) {
      if ($event.key === 'Escape') {
        Game.$emit('UI/buildingSelected', null);
      }
    },
    toggleHelp() {
      const helpSteps = ['help-1st', 'help-2nd', 'help-3rd', 'help-4th', 'help-5th'];
      const helpStepIdx = helpSteps.indexOf(this.helpStep);
      if (helpStepIdx > -1) {
        if (helpStepIdx === helpSteps.length - 1) {
          this.helpStep = '';
          Game.$emit('UI/buildingSelected', null);
        } else {
          this.helpStep = helpSteps[helpStepIdx + 1];
        }
        if (this.helpStep === 'help-4th') {
          Game.$emit('UI/buildingSelected', Game.blockMap.getSettlement());
        }
      }
    },
    helpTooltip(helpIdx) {
      const genericTooltipSettings = {
        'trigger': 'manual',
        'classes': 'help-tooltip',
      };
      if (helpIdx === 1) {
        return {
          'placement': 'left-start',
          'content': 'Select a building from the list by clicking it',
          'show': this.helpStep === 'help-1st',
          'offset': 10,
          ...genericTooltipSettings,
        };
      }
      if (helpIdx === 2) {
        return {
          'placement': 'bottom',
          'content': 'Place it on the map',
          'show': this.helpStep === 'help-2nd',
          'offset': -80,
          ...genericTooltipSettings,
        };
      }
      if (helpIdx === 3) {
        return {
          'placement': 'top',
          'content': 'Click the building to select it',
          'show': this.helpStep === 'help-3rd',
          ...genericTooltipSettings,
        };
      }
      if (helpIdx === 4) {
        return {
          'placement': 'left-start',
          'content': 'Upgrade the building to increase production or one-time gain',
          'show': this.helpStep === 'help-4th',
          'offset': 10,
          ...genericTooltipSettings,
        };
      }
      if (helpIdx === 5) {
        return {
          'placement': 'left-start',
          'content': 'Collect resources to discover new buildings. ' +
            'Placing a building close to your settlement usually increases resource income.<br /><br /> ' +
            'Keep in mind that the game is not linear - for some buildings it\'s better ' +
            'to place new ones, for others upgrading is a key. ' +
            'It\'s your task to find out what and when works best. <br /><br />' +
            'Demolishing buildings refunds all resources spent (including all upgrades), ' +
            'so  don\'t hesitate to experiment. The game cannot be played wrong - ' +
            'at worst it\'ll be a bit slower.',
          'show': this.helpStep === 'help-5th',
          'offset': 10,
          ...genericTooltipSettings,
        };
      }
    },
  },
  watch: {
    activeActionPanel(panel) {
      Game.$emit('UI/activeActionPanelSwitched', panel);
    },
  },
}
</script>

<style scoped>

  .block-map {
    float: left;
    margin-right: 10px;
    position: relative;
  }

  .block-map-inner {
    background-image: url('assets/bg.svg');
    padding: 5px;
    width: 700px;
    float: left;
  }

  .res-store {
    float: left;
    margin-right: 10px;
    overflow-y: auto;
    position: absolute;
    height: 93%;
    width: 110%;
  }

  .right-container {
    float: left;
    width: 320px;
    height: 95vh;
    overflow: hidden;
    position: relative;
    padding: 5px 0;
  }
  @media only screen and (max-width: 1320px) {
    .right-container {
      height: 48vh;
    }
  }

  .building-info,
  .constr-buildings,
  .exp-details {
    overflow-y: auto;
    position: absolute;
    height: calc(93% - 52px);
    width: 110%;
    padding-right: 10%;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 768px) {
    #app {
      width: 710px;
    }
  }

  .help-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #app > .version {
    color: #fff;
    opacity: .1;
    font-size: 12px;
    position: fixed;
    right: 3px;
    bottom: 0;
  }

  .app-content {
    float: left;
    position: fixed;
    z-index: 2;
  }

  .app-bg {
    position: fixed;
    z-index: 1;
    top: -100%;
    right: -100%;
    left: -100%;
    bottom: -100%;
    background-image: url('assets/bg.svg');
    opacity: .05;
    transform: rotate(-150deg) scale(5);
    filter: grayscale(1);
    background-size: 650px;
  }

</style>

<style>

  body {
    font-family: 'Titillium Web', serif;
    line-height: 22px;
    font-size: 16px;
    user-select: none;
    color: #eee;
    background-color: #111;
    margin: 0;
  }

  .help-border {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    pointer-events: all;
  }

  .with-ctrl-panel .help-border {
    top: 25px;
  }

  .help-1st .help-border.help-1st,
  .help-2nd .help-border.help-2nd,
  .help-3rd .help-border.help-3rd,
  .help-4th .help-border.help-4th,
  .help-5th .help-border.help-5th {
    display: block;
  }

  .help-1st .app-content,
  .help-2nd .app-content,
  .help-3rd .app-content,
  .help-4th .app-content  ,
  .help-5th .app-content {
    pointer-events: none;
  }

  #app.help-1st .help-border:not(.help-1st):not(.help-4th) ~ .blurable,
  #app.help-2nd .help-border:not(.help-2nd):not(.help-3rd) ~ .blurable,
  #app.help-3rd .help-border:not(.help-2nd):not(.help-3rd) ~ .blurable,
  #app.help-4th .help-border:not(.help-1st):not(.help-4th) ~ .blurable,
  #app.help-5th .help-border:not(.help-5th) ~ .blurable,
  #app.help-1st .ctrl-panel.blurable,
  #app.help-2nd .ctrl-panel.blurable,
  #app.help-3rd .ctrl-panel.blurable,
  #app.help-4th .ctrl-panel.blurable,
  #app.help-5th .ctrl-panel.blurable {
    opacity: .5;
    filter: blur(3px);
  }

  .help-tooltip.tooltip .tooltip-inner {
    font-size: 16px;
    background-color: #395a15;
  }

  .help-tooltip.tooltip .tooltip-arrow {
    border-color: #395a15;
  }

  .help-tooltip.tooltip[x-placement^="left"] .tooltip-arrow,
  .help-tooltip.tooltip[x-placement^="right"] .tooltip-arrow {
    top: calc(50% - 9px) !important;
  }

  .tooltip {
    display: block !important;
    z-index: 10000;
    max-width: 800px;
  }

  .tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 3px;
    padding: 15px 19px 20px 19px;
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
  }

  .tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  .tooltip[x-placement^="top"] {
    margin-bottom: 5px;
  }

  .tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }

  .tooltip[x-placement^="bottom"] {
    margin-top: 5px;
  }

  .tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }

  .tooltip[x-placement^="right"] {
    margin-left: 5px;
  }

  .tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }

  .tooltip[x-placement^="left"] {
    margin-right: 15px;
  }

  .tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }

  .tooltip.popover .popover-inner {
    background: #f9f9f9;
    color: black;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .1);
  }

  .tooltip.popover .popover-arrow {
    border-color: #f9f9f9;
  }

  .tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
  }

  .tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }

  .tooltip hr {
    border-top-width: 0;
    border-color: #ffffff99;
  }

  .tooltip .block-box {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
  }

  .tooltip .res-store-tooltip.block-box {
    justify-content: space-between;
  }

  .tooltip .block {
    flex: 0 1 auto;
  }

  .tooltip .block.fraction {
    padding-left: 10px;
    text-align: right;
  }

  .tooltip .block .block-label {
    margin-bottom: 6px;
  }

  .tooltip .sep {
    border-left: 1px solid #ffffff99;
    flex: 0 1 auto;
    margin: 32px 20px 1px 20px;
  }

  .tooltip .horizontal-sep {
    margin: 10px 20px;
  }

  .tooltip .building-header {
    white-space: pre;
  }

  .tooltip .building-header-sep {
    margin: 8px 20px 8px 20px;
    border-top: 1px solid #ffffff99;
  }

  .tooltip .level-diff-caption {
    color: chocolate;
  }

  .tooltip .res-store-tooltip {
    text-align: left;
  }

  .tooltip .res-store-tooltip .values {
    text-align: right;
    margin-left: 8px;
  }

  /* Generic styles */

  .header {
    padding-bottom: 3px;
    padding-left: 2px;
    color: chocolate;
    padding-top: 2px;
    background-color: #161616;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .green {
    color: green;
  }
  .red {
    color: red;
  }

  .bg-green {
    background: linear-gradient(90deg, #11801199 0%, #11801175 60%, #11801100 90%);
  }
  .bg-red {
    background: linear-gradient(90deg, #ee111199 0%, #ee111175 60%, #ee111100 90%);
  }

  .bg-green-long {
    background: linear-gradient(90deg, #11801199 0%, #11801175 70%, #11801100 100%);
  }
  .bg-red-long {
    background: linear-gradient(90deg, #ee111199 0%, #ee111175 70%, #ee111100 100%);
  }
</style>
